
body {
    text-align: center;
}

div {
    margin: auto;
    position: absolute;
    margin-left: -100;
}


p {
    width: 300px;
    padding: 50px;
    border: 20px solid #0088dd;
}

.example {
    margin: 10px auto 10px auto;
    text-align: left;
    border: solid 20px red;
}